[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e606";
}
.icon-menu:before {
  content: "\e609";
}
.icon-MINUS:before {
  content: "\e601";
}
.icon-PLUS:before {
  content: "\e604";
}
.icon-email:before {
  content: "\e60d";
}
.icon-eye:before {
  content: "\e600";
}
.icon-instagram:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-github:before {
  content: "\e605";
}
.icon-linkedin2:before {
  content: "\e607";
}
