.full-screen {
  @include padding($navigation-height $base-spacing);

  @include media($medium-screen-up){
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
    @include padding($base-spacing);
    height: 100vh;
  }
}

.intro {
  @include media($medium-screen-up){
    margin-top: -($navigation-height);
  }

  h1, p {
    font-family: $base-font-family;
    max-width: rem(720px);
    margin: 0 auto 2rem;
  }

  h1 {
    font-size: 2rem;
    text-transform: uppercase;

    @include media($medium-screen-up){
      font-size: 4rem;
    }
  }

  p {
    font-size: 0.85rem;
  }
}

.work {
  .container {
    @include media($medium-screen-up){
      width: 40rem;
    }
  }

  .project {
    margin-bottom: 2rem;
    text-align: center;

    @include media($medium-screen-up){
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    h4{
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.25rem;
      display: block;
      position: relative;
      z-index: 5;

      &:hover + span {
        @include transform(translateY(0));
        opacity: 1;
      }
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }

    span {
      @include transition(all 0.22s ease);
      @include transform(translateY(-100%));
      font-size: 0.85rem;
      font-weight: bold;
      color: $action-color;
      position: relative;
      display: inline-block;
      z-index: 1;
      opacity: 0;
    }
  }
}

.about {
  .container {
    @include media($medium-screen-up){
      width: rem(720px);
    }
  }

  .info {
    margin-bottom: 2rem;

    @include media($medium-screen-up){
      @include span-columns(9 of 12);
      margin-bottom: 0;
    }
  }

  .contact {
    @include media($medium-screen-up){
      @include span-columns(2 of 12);
      @include shift(1);
    }

    li {
      font-weight: bold;
    }
  }

  h4 {
    font-size: 1rem;
    letter-spacing: 0;
    margin-bottom: 2rem;
  }
}
