body {
  position: relative;

  // &:after {
  //   @include position(fixed, 0 0 0 0);
  //   @include transition(opacity 0.25s ease-in-out);
  //   @include backface-visibility('hidden');
  //   z-index: z('menu');
  //   opacity: 0;
  //   visibility: hidden;
  //   backface-visibility: hidden;
  //   width: 100vw;
  //   height: 100vh;
  //   background-color: $dark-gray;
  //   content: '';
  // }

  // &.menu-open {
  //   &:after {
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }
}

.wrap {
  background-color: $base-background-color;
  padding-top: $navigation-height;
}

.container {
  @include outer-container();
}


