// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

/// Device breakpoints map
$breakpoints: (
  'medium': (min-width: rem(640)),
  'large': (min-width: rem(1000)),
  'huge': (min-width: rem(1200)),
);

// Typography
$base-font-family: 'Brandon Grotesque', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$yellow: #F5CB5C;
$dark-gray: #333533;
$medium-gray: #666;
$light-gray: #CFDBD5;
$lightest-gray: #E8EDDF;

// Font Colors
$base-background-color: #242423;
$base-font-color: $dark-gray;
$action-color: $yellow;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//nav
$navigation-padding: 1em;
$navigation-background: $base-background-color;
$navigation-color: $dark-gray;
$navigation-color-hover: $dark-gray;
$navigation-height: 100px;
$horizontal-bar-mode: $large-screen;

/// Z-indexes map, gathering all Z layers of the application
$z-indexes: (
  'modal': 5000,
  'dropdown': 4000,
  'header': 2000,
  'menu': 1000,
  'default': 1,
  'below': -1,
);
